[submodule "json2yaml"]
	path = json2yaml
  url = https://github.com/coolaj86/json2yaml.git
[submodule "yaml2json"]
	path = yaml2json
  url = https://github.com/coolaj86/yaml2json.git
[submodule "standalone-mailer"]
	path = standalone-mailer
	url = https://github.com/coolaj86/mailed.git
[submodule "standalone-weberver"]
	path = standalone-weberver
	url = https://github.com/coolaj86/served.git
[submodule "connect/connect_router"]
	path = connect/connect_router
	url = https://github.com/coolaj86/connect_router.git
[submodule "inotify++"]
	path = inotify++
	url = https://github.com/coolaj86/node-inotify-plusplus.git
[submodule "dom-storage"]
	path = dom-storage
	url = https://github.com/coolaj86/node-dom-storage.git
[submodule "df"]
	path = df
	url = https://github.com/coolaj86/node-df-js.git
[submodule "cirq"]
	path = cirq
	url = https://github.com/coolaj86/cirqjs.git
